@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@800&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.services-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.fa-solid {
  margin-top: 90px;
  margin-left: 70px;
  color: rgb(48, 114, 243);
}

.home-button-link {
  height: 100%;
}

.title-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.h1our {
  color: rgb(52, 191, 34);
  font-size: 100px;
  font-family: "Eczar", serif;
}

.h1services {
  color: rgb(48, 114, 243);
  font-size: 100px;
  margin-left: 15px;
  font-family: "Eczar", serif;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  align-items: start;
  text-align: center;
}

.smartphone,
.computer,
.smart-home,
.laptop-tablet,
.smart-home,
.bug-fixes {
  color: lightgray;
  margin-top: 50px;
  text-align: left;
}

.title {
  color: lightgray;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 75px;
}

ul {
  margin-left: 50px;
  text-align: center;
  text-align: left;
}

li {
  list-style-type: circle;
  font-size: 25px;
  margin-left: 50px;
}

.footer-wrapper {
  margin-top: 150px;
}

.footer-text {
  color: lightgray;
  text-align: center;
}

.quote-button-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__quote {
  background-color: rgb(48, 114, 243);
  color: white;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 30px;
}

.button__quote:hover {
  background-color: rgb(71, 131, 251);
}

.button__quote:active {
  background-color: rgb(52, 191, 34);
  transition: 0ms;
}

.icon {
  justify-content: flex-start;
}

@media (max-width: 1147px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}

@media (max-width: 900px) {
  .h1our, .h1services {
    font-size: 70px;
  }
  .fa-solid {
    margin-left: 40px;
  }
}

@media (max-width: 800px) {
  .services {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .h1our, .h1services {
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  .fa-solid {
    margin-left: 80px;
  }
}

@media (max-width: 530px) {
  .services {
    display: grid;
    grid-template-columns: 1fr;
  }
  .services-header {
    height: 150px;
  }
  .h1our,
  .h1services {
    font-size: 38px;
    margin-right: 10px;
  }
  .fa-solid {
    margin-left: 20px;
    margin-right: 8px;
    margin-top: 70px;
  }
  .services-header {
    margin-bottom: -50px;
  }
  .h1services {
    margin-left: 4px;
  }
  .title-wrapper {
    align-items: start;
  }
  .title {
    font-size: 26px;
    font-weight: 500;
    margin-left: 38px;
  }
  li {
    list-style-type: circle;
    font-size: 20px;
  }
  .button__quote {
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 20px;
  }

  .footer-wrapper {
    margin-top: 50px;
  }
}
