@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@800&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.services-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.h1our {
  color: rgb(52, 191, 34);
  font-size: 100px;
  font-family: 'Eczar', serif;
}

.h1services {
  color: rgb(48, 114, 243);
  font-size: 100px;
  margin-left: 15px;
  font-family: 'Eczar', serif;
}

.smart-phone-repair, .smart-home-setup, .bug-fixing {
  color: white;
}
